<% this.adminPage = 'info'; %>
<% include admin_header %>
<style>
.ui.statistics {
  width: 100%;
}

.statistic {
  width: calc(100% / 3 - 3em);
}

.statistic .icon {
  font-size: 0.7em;
  display: inline-block;
  vertical-align: top;
  padding-top: 2px;
}

.statistic .label {
  font-weight: normal !important;
}
</style>
<div class="ui statistics">
  <div class="statistic">
    <div class="value">
      <i class="tasks icon"></i>
      <%= allSubmissionsCount %>
    </div>
    <div class="label">
      All submissions
    </div>
  </div>
  <div class="statistic">
    <div class="value">
      <i class="tasks icon"></i>
      <%= todaySubmissionsCount %>
    </div>
    <div class="label">
      Today's submissions
    </div>
  </div>
  <div class="statistic">
    <div class="value">
      <i class="list icon"></i>
      <%= problemsCount %>
    </div>
    <div class="label">
      All problems
    </div>
  </div>
  <div class="statistic">
    <div class="value">
      <i class="comments icon"></i>
      <%= articlesCount %>
    </div>
    <div class="label">
      All articles
    </div>
  </div>
  <div class="statistic">
    <div class="value">
      <i class="calendar icon"></i>
      <%= contestsCount %>
    </div>
    <div class="label">
      All contests
    </div>
  </div>
  <div class="statistic">
    <div class="value">
      <i class="user icon"></i>
      <%= usersCount %>
    </div>
    <div class="label">
      All users
    </div>
  </div>
  <div class="statistic">
    <div class="value">
      <i class="hdd outline icon"></i>
      <%= judge_client.judgers.size; %>
    </div>
    <div class="label">
      Online Judgers
    </div>
  </div>
  <div class="statistic">
    <div class="value">
      <i class="circle icon"></i>
      <%= judge_client.status.free.size %>
    </div>
    <div class="label">
      Free Judgers
    </div>
  </div>
  <div class="statistic">
    <div class="value">
      <i class="circle outline icon"></i>
      <%= judge_client.status.busy.size %>
    </div>
    <div class="label">
      Busy Judgers
    </div>
  </div>
  <div class="statistic">
    <div class="value">
      <i class="plug icon"></i>
      <%= io.eio.clientsCount %>
    </div>
    <div class="label">
      Active connections
    </div>
  </div>
  <div class="statistic">
    <div class="value">
      <%= totalMemory %>&nbsp;G
    </div>
    <div class="label">
      Total Memory
    </div>
  </div>
  <div class="statistic">
    <div class="value">
      <%= uptime %>&nbsp;H
    </div>
    <div class="label">
      Uptime
    </div>
  </div>
</div>
<% include admin_footer %>
