<% include util %>
<%
  this.title = blog.title;
  let enableMath = 1;
%>
<% include header %>
<div class="ui center aligned grid">
    <div class="row">
      <h1 class="ui header">
          <%= blog.from %> #<%= blog.problem_id %>. <%= blog.title %><% if (blog.allowedEdit) { if (!blog.is_public) {%><span class="ui tiny red label">U</span><% }} %>
      </h1>
    </div>
    <div class="row" style="margin-top: -23px">
        <span class="ui label">Author:
            <a user href="<%= zoj.utils.makeUrl(['user', blog.user_id]) %>"><%= blog.user.username %></a>
        </span>
        <span class="ui label">Time:
            <a><%= zoj.utils.formatDate(blog.time) %></a>
        </span>
    </div>
</div>
<div class="ui grid">
  <div class="row">
    <div class="column">
        <div class="ui buttons right floated">
          <% if (blog.allowedEdit) { %>
            <a class="small ui button" href="<%= zoj.utils.makeUrl(['blog', blog.id, 'edit']) %>">Edit</a>
            <% if (blog.is_public) {  %>
                <a class="small ui button" id="dis_public" href-post="<%= zoj.utils.makeUrl(['blog', blog.id, 'dis_public']) %>">Unpublish</a>
            <% } else { %>
                <a class="small ui button" id="public" href-post="<%= zoj.utils.makeUrl(['blog', blog.id, 'public']) %>">Publish</a>
            <% } %>
            <div class="ui basic modal" id="modal-delete">
                <div class="ui icon header">
                  <i class="trash icon"></i>
                  <p style="margin-top: 15px; ">Delete the Article</p>
                </div>
                <div class="content" style="text-align: center; ">
                    <p>Are you sure to delete this?</p>
                </div>
                <div class="actions">
                    <div class="ui red basic cancel inverted button">
                    <i class="remove icon"></i>No</div>
                    <a class="ui green ok inverted button" href-post="<%= zoj.utils.makeUrl(['blog', blog.id, 'delete']) %>">
                    <i class="checkmark icon"></i>Yes</a>
                </div>
            </div>
            <div class="small ui red button" onclick="$('#modal-delete').modal('show')">Delete</div>
          <% } %>
        </div>
    </div>
  </div>
  <% if (blog.content) { %>
  <div class="row">
    <div class="column">
      <div class="ui bottom attached segment font-content"><%- blog.content %></div>
    </div>
  </div>
  <% } %>
  <% if (blog.tags && blog.tags.length) { %>
    <div class="row">
      <div class="column">
        <h4 class="ui block header" id="show_tag_title_div" style="margin-bottom: 0; margin-left: -1px; margin-right: -1px; "><a href="#" id="show_tag_button" style="color: #000; ">Show the Tags</a></h4>
        <div class="ui bottom attached segment" style="display: none; " id="show_tag_div">
          <% for (let tag of blog.tags) { %>
            <a href="<%= zoj.utils.makeUrl(['blogs', 'tag', tag.id]) %>" class="ui medium <%= tag.color %> label">
              <%= tag.name %>
            </a>
          <% } %>
        </div>
      </div>
    </div>
    <script>
    $(function () {
      $('#show_tag_button').click(function (e) {
        e.preventDefault();
        $('#show_tag_title_div').addClass('top');
        $('#show_tag_title_div').addClass('top attached');
        $('#show_tag_title_div').text('Tags');
        $('#show_tag_div').css('display', '');
      })
    });
    </script>
  <% } %>
</div>
<div class="ui comments" style="max-width: none;">
<!-- Comments -->
  <% if (comments.length) { %>
  <div class="ui comments" style="max-width: none;">
    <h3 class="ui dividing header">Total replies: <%= commentsCount %></h3>
    <% for (let comment of comments) { %>
      <div class="comment">
        <a class="avatar">
          <img src="<%= zoj.utils.gravatar(comment.user.email, 120) %>">
        </a>
        <div class="content">
          <a user class="author" href="<%= zoj.utils.makeUrl(['user', comment.user_id]) %>"><%= comment.user.username %></a>
          <div class="metadata">
            <span class="date"><%= zoj.utils.formatDate(comment.public_time) %></span>
          </div>
          <div class="text font-content"><%- comment.content %></div>
          <% if (comment.allowedEdit) { %>
            <div class="actions"><a onclick="$('#modal-delete-<%= comment.id %>').modal('show')">Delete</a></div>
            <div class="ui basic modal" id="modal-delete-<%= comment.id %>">
              <div class="ui icon header">
                <i class="trash icon"></i>
                <p style="margin-top: 15px; ">Delete This Comment</p>
              </div>
              <div class="content" style="text-align: center; ">
                <p>Are you sure to delete this?</p>
              </div>
              <div class="actions">
                <div class="ui red basic cancel inverted button">
                  <i class="remove icon"></i>
                  No
                </div>
                <a class="ui green ok inverted button" href-post="<%= zoj.utils.makeUrl(['blog', blog.id, 'comment', comment.id, 'delete']) %>">
                  <i class="checkmark icon"></i>
                  Yes
                </a>
              </div>
            </div>
          <% } %>
        </div>
      </div>
    <% } %>
  </div>
  <div style="margin-bottom: 50px; ">
    <% include page %>
  </div>
  <% } %>
  
  <% if (allowedComment) { %>
   <form class="ui reply form" method="post" action="<%= zoj.utils.makeUrl(['blog', blog.id, 'comment']) %>">
      <div class="field">
        <div id="comment" style="height: 300px;"></div>
				<input type="hidden" name="comment" value="">
      </div>
      <button type="submit" class="ui labeled submit icon button">
        <i class="icon edit"></i><i class="mega-octicon octicon-markdown"></i>Reply
      </button>
   </form>
    <script src="/ace/ace.js"></script>
    <script type="text/javascript">
    function registerACEditor(editorID, containerName, mode){
      var editor = ace.edit(editorID);

      editor.setTheme("ace/theme/tomorrow");
      editor.getSession().setMode(mode);
      editor.getSession().setUseSoftTabs(false);

      editor.container.name = containerName;
      editor.container.style.lineHeight = 1.6;
      editor.container.style.fontSize = '14px';
      editor.container.style.fontFamily = "'Roboto Mono', 'Bitstream Vera Sans Mono', 'Menlo', 'Consolas', 'Lucida Console', monospace";
      editor.setShowPrintMargin(false);
      editor.renderer.updateFontSize();

      var input = $(`[name="${containerName}"]`);
      editor.getSession().on("change", function () {
        input.val(editor.getSession().getValue());
      });
    }

    registerACEditor("comment", "comment", "ace/mode/markdown");

    </script>
   <% } %>
</div>
<% include footer %>
