<% this.title = contest.id ? 'Edit Contest' : 'New Contest' %>
  <% include header %>
    <div class="padding">
      <form class="ui form" action="<%= zoj.utils.makeUrl(['contest', contest.id, 'edit']) %>" method="post">
        <div class="field">
          <label>Contest Name</label>
          <input type="text" name="title" value="<%= contest.title %>">
        </div>
        <div class="field">
          <label>Contest Description</label>
          <input type="text" name="subtitle" value="<%= contest.subtitle %>">
        </div>
        <div class="field">
          <label>Problems</label>
          <div id="editor" style="border: 1px solid #D4D4D5; height: 500px; margin-bottom: 20px; "><%= problems %></div>
          <input type="hidden" name="problems" value="<%= problems %>">
        </div>
        <div class="inline fields">
          <label>Competition System</label>
          <div class="field">
            <div class="ui radio checkbox">
              <input <% if (contest.id) { %>disabled
              <% } %>type="radio" name="type" id="type-noi" value="noi"
                <% if (contest.type === 'noi') { %> checked="checked"
                  <% } %> >
                    <label for="type-noi">NOI</label>
            </div>
          </div>
          <div class="field">
            <div class="ui radio checkbox">
              <input <% if (contest.id) { %>disabled
              <% } %>type="radio" name="type" id="type-ioi" value="ioi"
                <% if (contest.type === 'ioi') { %> checked="checked"
                  <% } %> >
                    <label for="type-ioi">IOI</label>
            </div>
          </div>
          <div class="field">
            <div class="ui radio checkbox">
              <input <% if (contest.id) { %>disabled
              <% } %>type="radio" name="type" id="type-acm" value="acm"
                <% if (contest.type === 'acm') { %> checked="checked"
                  <% } %> >
                    <label for="type-acm">ACM</label>
            </div>
          </div>
        </div>
        <div class="field">
          <label>Contest Bulletins
            <i class="mega-octicon octicon-markdown"></i>
          </label>
          <div id="information" style="border: 1px solid #D4D4D5; height: 500px; margin-bottom: 20px; "><%= contest.information %></div>
          <input type="hidden" name="information" value="<%= contest.information %>">
        </div>
        <div class="field">
          <label>Start</label>
          <input type="text" name="start_time" value="<%= zoj.utils.formatDate(contest.start_time || zoj.utils.getCurrentDate()) %>">
        </div>
        <div class="field">
          <label>End</label>
          <input type="text" name="end_time" value="<%= zoj.utils.formatDate(contest.end_time || zoj.utils.getCurrentDate()) %>">
        </div>

        <label style="margin-top: 15px; ">Exluded groups</label>
        <select class="ui fluid search dropdown" multiple="" id="groups_exlude" name="groups_exlude">
          <% for (let group of contest.groups_exlude) { %>
            <option value="<%= group.id %>" selected>
              <%= group.name %>
            </option>
            <% } %>
        </select>
        <div class="ui segment" style="display: none">
          <% for (let group of contest.groups_exlude) { %>
            <a class="ui large label transition visible" data-value="<%= group.id %>">
              <%= group.name %>
            </a>
            <% } %>
        </div>
        <label style="margin-top: 15px; ">Included groups</label>
        <select class="ui fluid search dropdown" multiple="" id="groups_include" name="groups_include">
          <% for (let group of contest.groups_include) { %>
            <option value="<%= group.id %>" selected>
              <%= group.name %>
            </option>
            <% } %>
        </select>
        <div class="ui segment" style="display: none">
          <% for (let group of contest.groups_include) { %>
            <a class="ui large label transition visible" data-value="<%= group.id %>">
              <%= group.name %>
            </a>
            <% } %>
        </div>
        <button type="submit" class="ui button">Submit</button>
      </form>
      <script src="/ace/ace.js"></script>
      <script type="text/javascript">

        function registerTagSelector(element, url) {
          $(function () {
            $(element)
              .dropdown({
                debug: true,
                apiSettings: {
                  url: url,
                  onResponse: function (response) {
                    var a = $(element).val().map(function (x) { return parseInt(x) });
                    if (response.results) {
                      response.results = response.results.filter(x => !a.includes(parseInt(x.value)));
                    }
                    return response;
                  },
                  cache: false
                }
              });
          })
        };

        registerTagSelector('#groups_exlude', '/api/search/group/{query}');
        registerTagSelector('#groups_include', '/api/search/group/{query}');

        function registerACEditor(editorID, containerName, mode) {
          var editor = ace.edit(editorID);

          editor.setTheme("ace/theme/tomorrow");
          editor.getSession().setMode(mode);
          editor.getSession().setUseSoftTabs(false);

          editor.container.name = containerName;
          editor.container.style.lineHeight = 1.6;
          editor.container.style.fontSize = '14px';
          editor.container.style.fontFamily = "'Roboto Mono', 'Bitstream Vera Sans Mono', 'Menlo', 'Consolas', 'Lucida Console', monospace";
          editor.setShowPrintMargin(false);
          editor.renderer.updateFontSize();

          var input = $(`[name="${containerName}"]`);
          editor.getSession().on("change", function () {
            input.val(editor.getSession().getValue());
          });
        }
        registerACEditor("editor", "problems", "ace/mode/json");
        registerACEditor("information", "information", "ace/mode/markdown");
      </script>
      <% include footer %>