<% this.title = contest.id ? 'Edit Contest' : 'New Contest' %>
  <% include header %>
    <div class="padding">
      <form class="ui form" action="<%= zoj.utils.makeUrl(['contest', contest.id, 'edit']) %>" method="post">
        <div class="field">
          <label>Contest Name</label>
          <input type="text" name="title" value="<%= contest.title %>">
        </div>
        <div class="field">
          <label>Contest Description</label>
          <input type="text" name="subtitle" value="<%= contest.subtitle %>">
        </div>
        <div class="field">
          <label>Problem List</label>
          <select class="ui fluid search dropdown" multiple="" id="search_problems" name="problems">
            <% for (let problem of problems) { %>
              <option value="<%= problem.id %>" selected>#<%= problem.id %>.<%= problem.title %></option>
            <% } %>
          </select>
        </div>
        <div class="inline fields">
          <label>Competition System</label>
          <div class="field">
            <div class="ui radio checkbox">
              <input <% if (contest.id) { %>disabled
              <% } %>type="radio" name="type" id="type-noi" value="noi"
                <% if (contest.type === 'noi') { %> checked="checked"
                  <% } %>>
                    <label for="type-noi">NOI</label>
            </div>
          </div>
          <div class="field">
            <div class="ui radio checkbox">
              <input <% if (contest.id) { %>disabled
              <% } %>type="radio" name="type" id="type-ioi" value="ioi"
                <% if (contest.type === 'ioi') { %> checked="checked"
                  <% } %>>
                    <label for="type-ioi">IOI</label>
            </div>
          </div>
          <div class="field">
            <div class="ui radio checkbox">
              <input <% if (contest.id) { %>disabled
              <% } %>type="radio" name="type" id="type-acm" value="acm"
                <% if (contest.type === 'acm') { %> checked="checked"
                  <% } %>>
                    <label for="type-acm">ACM</label>
            </div>
          </div>
        </div>
        <div class="field">
          <label>Contest Bulletins
            <i class="mega-octicon octicon-markdown"></i>
          </label>
          <textarea class="" rows="5" id="doc-ta-1" name="information" class="font-content"><%= contest.information %></textarea>
        </div>
        <div class="field">
          <label>Start</label>
          <input type="text" name="start_time" value="<%= zoj.utils.formatDate(contest.start_time || zoj.utils.getCurrentDate()) %>">
        </div>
        <div class="field">
          <label>End</label>
          <input type="text" name="end_time" value="<%= zoj.utils.formatDate(contest.end_time || zoj.utils.getCurrentDate()) %>">
        </div>
        <div class="inline field">
          <label class="ui header">Public</label>
          <div class="ui toggle checkbox">
            <input type="checkbox" <% if (contest.is_public) { %> checked
            <% } %> name="is_public">
              <label>
                <span style="visibility: hidden; ">　</span>
              </label>
          </div>
        </div>
        <div class="inline field">
          <label class="ui header">Protect</label>
          <div class="ui toggle checkbox">
            <input type="checkbox" <% if (contest.is_protected) { %> checked
            <% } %> name="is_protected">
              <label>
                <span style="visibility: hidden; ">　</span>
              </label>
          </div>
        </div>
        <button type="submit" class="ui button">Submit</button>
      </form>
      <script>
        $(function () {
          $('#search_problems')
            .dropdown({
              debug: true,
              apiSettings: {
                url: '/api/search/problems/{query}',
                onResponse: function (response) {
                  var a = $('#search_problems').val().map(function (x) { return parseInt(x) });
                  if (response.results) {
                    response.results = response.results.filter(x => !a.includes(parseInt(x.value)));
                  }
                  return response;
                },
                cache: false
              }
            });
        });
      </script>
      <% include footer %>