<% include util %>
<%
  this.title = post.title;
  let enableMath = 1;
%>
<% include header %>
<div class="ui center aligned grid">
    <div class="row">
      <h1 class="ui header">
          <%= post.from %> #<%= post.problem_id %>. <%= post.title %><% if (post.allowedEdit) { if (!post.is_public) {%><span class="ui tiny red label">U</span><% }} %>
      </h1>
    </div>
    <div class="row" style="margin-top: -23px">
        <span class="ui label">Author:
            <a user href="<%= zoj.utils.makeUrl(['user', post.user_id]) %>"><%= post.user.username %></a>
        </span>
    </div>
</div>
<div class="ui grid">
  <div class="row">
    <div class="column">
        <div class="ui buttons right floated">
          <% if (post.allowedEdit) { %>
            <a class="small ui button" href="<%= zoj.utils.makeUrl(['blog', post.id, 'edit']) %>">Edit</a>
            <% if (post.is_public) {  %>
                <a class="small ui button" id="dis_public" href-post="<%= zoj.utils.makeUrl(['blog', post.id, 'dis_public']) %>">Unpublish</a>
            <% } else { %>
                <a class="small ui button" id="public" href-post="<%= zoj.utils.makeUrl(['blog', post.id, 'public']) %>">Publish</a>
            <% } %>
            <div class="ui basic modal" id="modal-delete">
                <div class="ui icon header">
                  <i class="trash icon"></i>
                  <p style="margin-top: 15px; ">Delete the Article</p>
                </div>
                <div class="content" style="text-align: center; ">
                    <p>Are you sure to delete this?</p>
                </div>
                <div class="actions">
                    <div class="ui red basic cancel inverted button">
                    <i class="remove icon"></i>No</div>
                    <a class="ui green ok inverted button" href-post="<%= zoj.utils.makeUrl(['blog', post.id, 'delete']) %>">
                    <i class="checkmark icon"></i>Yes</a>
                </div>
            </div>
            <div class="small ui red button" onclick="$('#modal-delete').modal('show')">Delete</div>
          <% } %>
        </div>
    </div>
  </div>
  <% if (post.content) { %>
  <div class="row">
    <div class="column">
      <div class="ui bottom attached segment font-content"><%- post.content %></div>
    </div>
  </div>
  <% } %>
  <% if (post.tags && post.tags.length) { %>
    <div class="row">
      <div class="column">
        <h4 class="ui block header" id="show_tag_title_div" style="margin-bottom: 0; margin-left: -1px; margin-right: -1px; "><a href="#" id="show_tag_button" style="color: #000; ">Show the Tags</a></h4>
        <div class="ui bottom attached segment" style="display: none; " id="show_tag_div">
          <% for (let tag of post.tags) { %>
            <a href="<%= zoj.utils.makeUrl(['blogs', 'tag', tag.id]) %>" class="ui medium <%= tag.color %> label">
              <%= tag.name %>
            </a>
          <% } %>
        </div>
      </div>
    </div>
    <script>
    $(function () {
      $('#show_tag_button').click(function (e) {
        e.preventDefault();
        $('#show_tag_title_div').addClass('top');
        $('#show_tag_title_div').addClass('top attached');
        $('#show_tag_title_div').text('Tags');
        $('#show_tag_div').css('display', '');
      })
    });
    </script>
  <% } %>
</div>
<% include footer %>