<% this.title = 'Manage Problem'; %>
<% include header %>
<div class="padding">
    <div class="ui grid">
    <div class="row">
      <div class="seven wide column">
        <% include problem_testcases %>
      </div>
      <div class="nine wide column">
        <form class="ui form" method="post" enctype="multipart/form-data"  action="<%= zoj.utils.makeUrl(['problem', req.params.id, 'manage']) %>">
          <input type="hidden" name="type" value="<%= problem.type %>">
          <div class="ui pointing secondary menu" id="problem-type-tab" style="margin-top: -10px; ">
            <a class="active item" data-tab="traditional">Config</a>
          </div>
          <div class="ui active tab" data-tab="traditional">
            <div id="editor" style="border: 1px solid #D4D4D5; height: 500px; margin-bottom: 20px; "><%= JSON.stringify(problem.datainfo, null, '\t') %></div>
            <input type="hidden" name="datainfo" value="<%= JSON.stringify(problem.datainfo, null, '\t') %>">
          </div>
          <div class="field">
            <label for="testdata">Upload Testdata(Please use ZIP)</label>
            <input type="file" id="testdata" name="testdata">
          </div>
          <div class="field">
            <label for="additional_file">Upload Additional Files(Please use ZIP)</label>
            <input type="file" id="additional_file" name="additional_file">
          </div>
          <button type="submit" class="ui button">Submit</button>
          <a href="<%= zoj.utils.makeUrl(['problem', problem.id]) %>" class="ui blue button">Return to the Problem</a>
        </form>
      </div>
  </div>
<div>

<script src="/ace/ace.js"></script>
<script type="text/javascript">
var editor = ace.edit("editor");

editor.setTheme("ace/theme/tomorrow");
editor.getSession().setMode("ace/mode/json");
editor.getSession().setUseSoftTabs(false);

editor.container.name = 'datainfo';
editor.container.style.lineHeight = 1.6;
editor.container.style.fontSize = '14px';
editor.container.style.fontFamily = "'Roboto Mono', 'Bitstream Vera Sans Mono', 'Menlo', 'Consolas', 'Lucida Console', monospace";
editor.setShowPrintMargin(false);
editor.renderer.updateFontSize();

var input = $('[name="datainfo"]');
editor.getSession().on("change", function () {
  input.val(editor.getSession().getValue());
});
</script>
<% include footer %>
