<% this.title = 'Edit Problem'; %>
<% include header %>
<style type="text/css">
  .problem_header{
    text-align: center;
  }
</style>
<div class="padding">
    <form class="ui form" method="post" action="<%= zoj.utils.makeUrl(['problem', req.params.id, 'edit']) %>">
      <div class="ui top attached tabular menu">
        <a class="item active" data-tab="edit">Edit</a>
        <a class="item" data-tab="preview" id="preview_tab">Preview</a>
      </div>
      <div class="ui bottom attached tab segment active" data-tab="edit">
        <div class="field">
          <% if (problem.allowedManage) { %>
            <label for="id">
              <% if (problem.new) { %>
                Problem ID
              <% } else { %>
                Modify Problem ID
              <% } %>
            </label>
            <input type="text" id="id" name="id" placeholder="<% if (problem.new) { %>Will extend if it is empty <% } else { %>Won't modify if it is empty<% } %>" value="<%= problem.id ? problem.id : '' %>">

            <div style="margin-top: 15px; "></div>
          <% } %>
          <label for="title">Problem Name</label>
          <input class="font-content" type="text" id="title" name="title" value="<%= problem.title %>">

          <label style="margin-top: 15px; " for="content">Content<i class="mega-octicon octicon-markdown"></i></label>
          <div id="content" style="height: 1000px;"><%= problem.content %></div>
          <input type="hidden" name="content" value="<%= problem.content %>">

          <label style="margin-top: 15px; ">Add Tags</label>
          <select class="ui fluid search dropdown" multiple="" id="search_tags" name="tags">
            <% for (let tag of problem.tags) { %>
              <option value="<%= tag.id %>" selected><%= tag.name %></option>
            <% } %>
          </select>
          <div class="ui segment" style="display: none">
          <% for (let tag of problem.tags) { %>
             <a class="ui large label transition visible" data-value="<%= tag.id %>"> 
              <%= tag.name %>
             </a>
          <% } %>
          </div>
          <div class="ui <% if (problem.is_anonymous) { %>checked <% } %>checkbox" style="margin-top: 15px; ">
            <input <% if (problem.is_anonymous) { %>checked=""<% } %> name="is_anonymous" type="checkbox">
            <label><strong>Anonymous Upload</strong></label>
            <p style="margin-top: 5px; ">The user name won't show in the problem page if you choose it.</p>
          </div>
        </div>
      </div>
      <div class="ui bottom attached tab segment" data-tab="preview" id="preview">
        <h1 class="ui header problem_header" id="pv-title"></h1>
        <div class="font-content" id="pv-content"></div>
      </div>

      <label style="margin-top: 15px; ">Exluded groups</label>
      <select class="ui fluid search dropdown" multiple="" id="groups_exlude" name="groups_exlude">
        <% for (let group of problem.groups_exlude) { %>
          <option value="<%= group.id %>" selected><%= group.name %></option>
        <% } %>
      </select>
      <div class="ui segment" style="display: none">
        <% for (let group of problem.groups_exlude) { %>
          <a class="ui large label transition visible" data-value="<%= group.id %>"> 
          <%= group.name %>
          </a>
        <% } %>
      </div>
      <label style="margin-top: 15px; ">Included groups</label>
      <select class="ui fluid search dropdown" multiple="" id="groups_include" name="groups_include">
        <% for (let group of problem.groups_include) { %>
          <option value="<%= group.id %>" selected><%= group.name %></option>
        <% } %>
      </select>
      <div class="ui segment" style="display: none">
        <% for (let group of problem.groups_include) { %>
          <a class="ui large label transition visible" data-value="<%= group.id %>"> 
          <%= group.name %>
          </a>
        <% } %>
      </div>
      <button type="submit" class="ui button">Submit</button>
    </form>
</div>
<script src="/libs/ace/ace.js"></script>
<script type="text/javascript">
function registerACEditor(editorID, containerName, mode){
  var editor = ace.edit(editorID);

  editor.setTheme("ace/theme/tomorrow");
  editor.getSession().setMode(mode);
  editor.getSession().setUseSoftTabs(false);

  editor.container.name = containerName;
  editor.container.style.lineHeight = 1.6;
  editor.container.style.fontSize = '14px';
  editor.container.style.fontFamily = "'Roboto Mono', 'Bitstream Vera Sans Mono', 'Menlo', 'Consolas', 'Lucida Console', monospace";
  editor.setShowPrintMargin(false);
  editor.renderer.updateFontSize();

  var input = $(`[name="${containerName}"]`);
  editor.getSession().on("change", function () {
    input.val(editor.getSession().getValue());
  });
}

registerACEditor("content", "content", "ace/mode/markdown");
</script>
<script type="text/javascript">
$(function () {
    function render(output, input) {
      $.post('/api/fastmarkdown', { s: input.val(), _csrf: document.head.getAttribute('data-csrf-token') }, function (s) {
        // console.log(s);
        output.html(s);
      });
    }
    $("#preview_tab").click(function () {
      $("#pv-title").text($("#title").val());
      $("#pv-content").text('Loading...');
      render($("#pv-content"), $("[name=content]"));
    });
    $('.tabular.menu .item').tab();
});
</script>
<script>
function registerTagSelector(element, url){
  $(function () {
  $(element)
    .dropdown({
      debug: true,
      apiSettings: {
        url: url,
        onResponse: function (response) {
          var a = $(element).val().map(function (x) { return parseInt(x) });
          if (response.results) {
            response.results = response.results.filter(x => !a.includes(parseInt(x.value)));
          }
          return response;
        },
        cache: false
      }
    });
});
}
registerTagSelector('#search_tags', '/api/search/tags_problem/{query}');
registerTagSelector('#groups_exlude', '/api/search/group/{query}');
registerTagSelector('#groups_include', '/api/search/group/{query}');
</script>
<% include footer %>
