<%
let subtaskType = {
  sum: 'The total score will be the average value of all the subtasks.',
  mul: 'The total score will be the product of all the subtasks.',
  min: 'The total score will be the mininum value of all the subtasks.'
};
%>
<%
if (problem.datainfo.testcases) {
%>
  <% if (problem.datainfo.testcases.spj) { %>
    <p>Judge method：Special Judge</p>
  <% } else { %>
    <p>Judge method：Compare Texts</p>
  <% } %>
  <table class="ui celled table">
    <tbody>
      <% let i = 0; %>
      <% for (let subtask of problem.datainfo.testcases) { %>
        <% if (problem.datainfo.testcases.length !== 1) { %>
          <tr>
            <td style="background-color: #F9FAFB" colspan="2"><h4 style="margin-bottom: 3px; ">Subtasks <%= ++i %></h4><span style="font-weight: normal; "><%= subtaskType[subtask.type] %>，Total Score <%= subtask.score %></span></th>
          </tr>
        <% } else { %>
          <tr>
            <td style="background-color: #F9FAFB" colspan="2"><h4 style="margin-bottom: 3px; ">Single Subtask</h4><span style="font-weight: normal; "><%= subtaskType[subtask.type] %></span></th>
          </tr>
        <% } %>
          <% for (let testcase of subtask.cases) { %>
            <tr class="center aligned">
              <td style="width: 50%; "><%= testcase.input || '-' %></td>
              <td style="width: 50%; "><%= testcase.output || '-' %></td>
            </tr>
          <% } %>
      <% } %>
    </tbody>
  </table>
<% } else { %>
  <h4 style="text-align: center; ">No Testdata</h4>
<% } %>
