<div class="padding">
        <table class="ui very basic center aligned table">
            <thead>
            <tr>
                <th>#</th>
                <th>Username</th>
                <% for (let i = 0; i < problems.length; i++) { %>
                <th>
                  <a href="<%= zoj.utils.makeUrl(['contest', contest.id, i + 1]) %>">
                    <%= problems[i].title %>
                  </a>
                </th>
                <% } %>
                <th>Total score</th>
            </tr>
            </thead>
            <tbody>
            <%
            for (let problem of problems) {
              let i = 0, min, minPos = -1;
              for (let item of ranklist) {
                i++;
                let condition =
                    item.player.score_details[problem.id] &&
                    item.player.score_details[problem.id].score === 100 &&
                    (minPos === -1 || item.player.score_details[problem.id].judge_state.submit_time < min.player.score_details[problem.id].judge_state.submit_time);
                if (condition) {
                  min = item;
                  minPos = i;
                }
              }
              problem.min = minPos;
            }
    
            let i = 0, rank = 0, lastItem;
            for (let item of ranklist) {
              i++;
              let latest = contest.start_time, timeSum = 0, unacceptedCount = 0;
            %>
            <tr>
                <%
                    if (i === 1 || item.player.score !== lastItem.player.score) rank = i;
                %>
                <td>
                  <% if (rank == 1) { %>
                    <div class="ui yellow ribbon label">
                  <% } else if (rank == 2) { %>
                    <div class="ui ribbon label">
                  <% } else if (rank == 3) { %>
                    <div class="ui brown ribbon label" style="background-color: #C47222 !important;">
                  <% } else { %>
                    <div>
                  <% } %>
                  <%= rank %>
                  </div>
                </td>
                <td><a user href="<%= zoj.utils.makeUrl(['user', item.user.id]) %>"><%= item.user.username %></a></td>
                <% for (let problem of problems) { %>
                  <% if (problem.min === i) { %>
                    <td style="background: rgb(244, 255, 245); ">
                  <% } else { %>
                    <td>
                  <% } %>
                  <% if (!hasRecord(item.player, problem.id)) { %>
                    </td>
                  <% } else { %>
                      <a href="<%= zoj.utils.makeUrl(['submission', item.player.score_details[problem.id].judge_id]) %>">
                        <span class="score score_<%= parseInt((item.player.score_details[problem.id].score / 10) || 0) %>">
                          <%= item.player.score_details[problem.id].score %>
                        </span>
                      </a>
                      <div class="submit_time">
                        <%= zoj.utils.formatTime(item.player.score_details[problem.id].judge_state.submit_time - contest.start_time) %>
                        <% latest = Math.max(latest, item.player.score_details[problem.id].judge_state.submit_time)  %>
                      </div>
                    </td>
                  <% } %>
                <% } %>
                  <td>
                <span class="score score_<%= parseInt((item.player.score / ranklist[0].player.score * 10) || 0) %>">
                    <%= item.player.score %>
                </span>
                <div class="submit_time">
                    <%= zoj.utils.formatTime(latest - contest.start_time) %>
                </div>
                </td>
            </tr>
            <% lastItem = item; %>
            <% } %>
            </tbody>
        </table>
    </div>